# Visual Studio
.vs/
.vscode/
.idea/
*.sln
*.slnx
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.VC.opendb-shm
*.VC.opendb-wal
*.user
*.userosscache
*.rsuser
.vsconfig

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch
*.pchi

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# Unreal generated folders
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Unreal plugin generated folders
Plugins/**/Binaries/
Plugins/**/Build/
Plugins/**/DerivedDataCache/
Plugins/**/Intermediate/
Plugins/**/Saved/

# Whitelist PakBlacklist files
!Build/
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

# Do not ignore icon files in Build
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

# Precompiled assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Logs and crash data
*.log
*.dmp
*.tmp

# OS files
Thumbs.db
.DS_Store